*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'poppins', sans-serif;
}
.container{
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	margin: 0;
	width: 100%;
	min-height: 100vh;
	padding: 5%;
	background-image: linear-gradient(rgba(250,250,250,0.9),rgba(90,30,30,0.9)), url(../images/background.jpg);
	background-position: center;
	background-size: cover;
	position: relative;
}
.headers{
	order: 1;
	justify-content: space-between;
	align-items: center;
	padding-left: 50px;
	padding-right: 50px;
}
.search-bar{
	order: 2;
	width: 100%;
	max-width: 1000px;
	height: 100%;
	max-height: 55px;
	background: rgba(255, 255, 255, 0.2);
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 60px;
	padding: 10px 20px;
	margin: auto;
	backdrop-filter: blur(4px) saturate(180%);
}
.search-bar input{
	background: transparent;
	flex: 1;
	border: 0;
	outline: none;
	padding: 24px 20px;
	font-size: 20px;
	color: #cac7ff;
}
::placeholder{
	color: #cac7ff;
}
.search-bar button img{
	width: 20px;
}
.search-bar button{
	border: 0;
	border-radius: 50%;
	width: 45px;
	height: 45px;
	background: #58629b;
	cursor: pointer;
}
.list{
	order: 3;
	display: flex;
	flex-direction: column;
}
.items{
	background-color: white;
	width: 1600px;
	border: thin grey;
	border-style: groove;
	border-radius: 15px;
	align-items: center;
	justify-content: center;
	padding: 20px;
}
