{% extends 'web_base.html' %}

{% block content %}
    <h1 align="center">{% block title %}{% endblock %}</h1>
    </hr>
    <br>
    <div class="items">
	    <h1>About</h1>
	    <h3>This is a simple web scrapping website built using python and third party libraries,</h3>
	    <h3>flask for running the web app and beautiful soup, used to extract data from pages.</h3>
            <h3></h3>
	    <h3>Authors:</h3>
	    <h3>Abrham Endale, abrhamendale9@gmail.com</h3>
	    <h3>Fasil Solomon, samfas@gmail.com</h3>
    </div>
    <br>
{% endblock %}
