{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Welcome to FlaskBlog {% endblock %}</h1>
     {% for post in posts %}
         <a href="#">
	     <h2>{{ post['Title'] }}</h2>
	 </a>
	 <h3>Price[$]: {{ post['Price[$]'] }}</h3>
	 <h3>Condition: {{ post['Condition'] }}</h3>
	 <h3>Top_rated: {{ post['Top_rated'] }}</h3>
	 <h3>Reviews: {{ post['Reviews'] }}</h3>
	 <h3>Availability: {{ post['Availability'] }}</h3>
	 <h3>Delivery: {{ post['Delivery'] }}</h3>
	 <span class="badge badge-primary">{{ post['created'] }}</span>
	 <hr>
     {% endfor %}
{% endblock %}
